<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234836086687-557sdof8bjuvft3t2vtjsbdtb61o0q74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234836086687-557sdof8bjuvft3t2vtjsbdtb61o0q74</string>
	<key>API_KEY</key>
	<string>AIzaSyCd6Bg6rAdLdvmWj8rkSbiWOklSqeSRrX4</string>
	<key>GCM_SENDER_ID</key>
	<string>234836086687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bojieitsit.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-ef09b</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ef09b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234836086687:ios:bf6c48420195ccb56677aa</string>
</dict>
</plist>