<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022066828184-42pi62l12kc1ps97njv1ov8ldtqbtoes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022066828184-42pi62l12kc1ps97njv1ov8ldtqbtoes</string>
	<key>API_KEY</key>
	<string>AIzaSyCpAxvYig1m8iANBu6Fct5GV9iPt_sbW10</string>
	<key>GCM_SENDER_ID</key>
	<string>1022066828184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bojieitsit.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f4cd6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f4cd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022066828184:ios:ece6045d7ec310b41941ed</string>
</dict>
</plist>